<?xml version="1.0"?>
<config>
    <tabs>
        <filemanager_tab translate="label" module="ccc_filemanager">
            <label>File Manager</label>
            <sort_order>1</sort_order>
        </filemanager_tab>
    </tabs>
    <sections>
        <ccc_filemanager translate="label" module="ccc_filemanager">
            <label>General</label>
            <tab>filemanager_tab</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="ccc_filemanager">
                    <label>General Filemanager Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <mediapath translate="label">
                            <label>Root Folder Path</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>1</sort_order>
                            <default>1</default>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mediapath>
                    </fields>
                </general>
            </groups>
        </ccc_filemanager>
    </sections>
</config>