<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Banner>
            <version>1.6.0.0</version>
        </Ccc_Banner>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <Ccc_Banner>
                    <file>ccc_banner.xml</file>
                </Ccc_Banner>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <banner>
                <class>Ccc_Banner_Model</class>
                <resourceModel>banner_resource</resourceModel>
            </banner>
            <banner_resource>
                <class>Ccc_Banner_Model_Resource</class>
                <entities>
                    <banner>
                        <table>banner</table>
                    </banner>
                </entities>
            </banner_resource>
        </models>
        <helpers>
            <banner>
              <class>Ccc_Banner_Helper</class>
            </banner>
        </helpers>
        <blocks>
            <banner>
                <class>Ccc_Banner_Block</class>
            </banner>
        </blocks>
        <resources>
            <banner_setup>
                <setup>
                    <module>Ccc_Banner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </banner_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <banneradmin before="Mage_Adminhtml">Ccc_Banner_Adminhtml</banneradmin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>