<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Validation>
            <version>1.6.0.0</version>
        </Ccc_Validation>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_validationadmin>Ccc_Validation_Adminhtml</Ccc_validationadmin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <Ccc_Validation>
                <class>Ccc_Validation_Model</class>
            </Ccc_Validation>
            <sales>
                <rewrite>
                    <order>Ccc_Validation_Model_Cancel</order>
                </rewrite>
            </sales>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <custom_addressvalidation_observer>
                        <type>singleton</type>
                        <class>Ccc_Validation/observer</class>
                        <method>triggerAddressValidationEmail</method>
                    </custom_addressvalidation_observer>
                </observers>
            </sales_order_place_after>
            <custom_order_cancel_email>
                <observers>
                    <custom_order_cancel_email_observer>
                        <type>singleton</type>
                        <class>Ccc_Validation/observer</class>
                        <method>triggerCancelEmail</method>
                    </custom_order_cancel_email_observer>
                </observers>
            </custom_order_cancel_email>
        </events>
        <resources>
            <ccc_validation_setup>
                <setup>
                    <module>Ccc_Validation</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ccc_validation_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <send_address_validation_email>
                <schedule>
                    <cron_expr>15 9 * * 1-5</cron_expr>
                </schedule>
                <run>
                    <model>Ccc_Validation/observer::allAddressValidation</model>
                </run>
            </send_address_validation_email>
        </jobs>
    </crontab>
</config>