<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Ticket>
            <version>1.6.0.1</version>
        </Ccc_Ticket>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <ccc_ticket>
                    <file>ccc_ticket.xml</file>
                </ccc_ticket>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <ccc_ticket>
                <class>Ccc_Ticket_Block</class>
            </ccc_ticket>
            <adminhtml>
                <rewrite>
                    <page_menu>Ccc_Ticket_Block_Adminhtml_Menu</page_menu>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ccc_ticket>
                <class>Ccc_Ticket_Helper</class>
            </ccc_ticket>
        </helpers>
        <models>
            <ccc_ticket>
                <class>Ccc_Ticket_Model</class>
                <resourceModel>ccc_ticket_resource</resourceModel>
            </ccc_ticket>
            <ccc_ticket_resource>
                <class>Ccc_Ticket_Model_Resource</class>
                <entities>
                    <ticket>
                        <table>ccc_ticket</table>
                    </ticket>
                    <comment>
                        <table>ccc_ticket_comment</table>
                    </comment>
                    <status>
                        <table>ccc_ticket_status</table>
                    </status>
                    <filter>
                        <table>ccc_ticket_filter</table>
                    </filter>
                </entities>
            </ccc_ticket_resource>
        </models>
        <resources>
            <ccc_ticket_setup>
                <setup>
                    <module>Ccc_Ticket</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ccc_ticket_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_ticket_admin>Ccc_Ticket_Adminhtml</ccc_ticket_admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>