<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Outlook>
            <version>1.6.0.1</version>
        </Ccc_Outlook>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <ccc_outlook>
                    <file>ccc_outlook.xml</file>
                </ccc_outlook>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <ccc_outlook>
                <class>Ccc_Outlook_Block</class>
            </ccc_outlook>
        </blocks>
        <helpers>
            <ccc_outlook>
                <class>Ccc_Outlook_Helper</class>
            </ccc_outlook>
        </helpers>
        <models>
            <outlook>
                <class>Ccc_Outlook_Model</class>
                <resourceModel>ccc_outlook_resource</resourceModel>
            </outlook>
            <ccc_outlook_resource>
                <class>Ccc_Outlook_Model_Resource</class>
                <entities>
                    <configuration>
                        <table>ccc_outlook_configuration</table>
                    </configuration>
                    <email>
                        <table>ccc_outlook_email</table>
                    </email>
                    <attachment>
                        <table>ccc_outlook_attachment</table>
                    </attachment>
                    <event>
                        <table>ccc_outlook_event</table>
                    </event>
                </entities>
            </ccc_outlook_resource>
        </models>
        <resources>
            <ccc_outlook_setup>
                <setup>
                    <module>Ccc_Outlook</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ccc_outlook_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_outlook_admin>Ccc_Outlook_Adminhtml</ccc_outlook_admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <Ccc_Outlook>
                <use>standard</use>
                <args>
                    <module>Ccc_Outlook</module>
                    <frontName>outlook</frontName>
                </args>
            </Ccc_Outlook>
        </routers>
    </frontend>
</config>