<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Payment>
            <version>1.6.0.0</version>
        </Ccc_Payment>
    </modules>
    <default>
        <payment>
            <paybycheck>
                <model>ccc_payment/method_paybycheck</model>
            </paybycheck>
        </payment>
        <carriers>
            <whiteglovedelivery>
                <model>ccc_payment/carrier_whiteglovedelivery</model>
                <specificerrmsg>This shipping method is not available.</specificerrmsg>
                <sallowspecific>0</sallowspecific>
            </whiteglovedelivery>
        </carriers>
    </default>
    <frontend>
        <layout>
            <updates>
                <ccc_payment>
                    <file>ccc_payment.xml</file>
                </ccc_payment>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ccc_payment>
                    <file>ccc_payment.xml</file>
                </ccc_payment>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <ccc_payment>
                <class>Ccc_Payment_Model</class>
            </ccc_payment>
        </models>
        <helpers>
            <ccc_payment>
                <class>Ccc_Payment_Helper</class>
            </ccc_payment>
        </helpers>
        <blocks>
            <ccc_payment>
                <class>Ccc_Payment_Block</class>
            </ccc_payment>
            <payment>
                <rewrite>
                    <form>Ccc_Payment_Block_Form_Paybycheck</form>
                </rewrite>
            </payment>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Paymentadmin>Ccc_Payment_Adminhtml</Ccc_Paymentadmin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>