<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Test>
            <version>0.2</version>
        </Ccc_Test>
    </modules>
    <frontend >
        <routers>
            <Ccc_test>
                <use>standard</use>
                <args>
                    <module>Ccc_Test</module>
                    <frontName>ccc_test</frontName>
                </args>
            </Ccc_test>
        </routers>
    </frontend>
    <global>
        <models>
            <Ccc_test>
                <class>Ccc_Test_Model</class>
            </Ccc_test>
        </models>
    </global>
</config>