<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Reportmanager>
            <version>1.6.0.1</version>
        </Ccc_Reportmanager>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <ccc_reportmanager>
                    <file>ccc_reportmanager.xml</file>
                </ccc_reportmanager>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <ccc_reportmanager>
                <class>Ccc_Reportmanager_Block</class>
            </ccc_reportmanager>
            <adminhtml>
                <rewrite>
                    <customer>Ccc_Reportmanager_Block_Adminhtml_Customer</customer>
                    <customer_grid>Ccc_Reportmanager_Block_Adminhtml_Customer_Grid</customer_grid>
                    <catalog_product>Ccc_Reportmanager_Block_Adminhtml_Product</catalog_product>
                    <catalog_product_grid>Ccc_Reportmanager_Block_Adminhtml_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ccc_reportmanager>
                <class>Ccc_Reportmanager_Helper</class>
            </ccc_reportmanager>
        </helpers>
        <models>
            <reportmanager>
                <class>Ccc_Reportmanager_Model</class>
                <resourceModel>ccc_reportmanager_resource</resourceModel>
            </reportmanager>
            <ccc_reportmanager_resource>
                <class>Ccc_Reportmanager_Model_Resource</class>
                <entities>
                    <reportmanager>
                        <table>ccc_filter_report</table>
                    </reportmanager>
                </entities>
            </ccc_reportmanager_resource>
        </models>
        <resources>
            <ccc_reportmanager_setup>
                <setup>
                    <module>Ccc_Reportmanager</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ccc_reportmanager_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <ccc_reportmanager>
                        <class>ccc_reportmanager/observer</class>
                        <method>addSoldCount</method>
                    </ccc_reportmanager>
                </observers>
            </sales_order_place_after>
            <order_cancel_after>
                <observers>
                    <ccc_reportmanager>
                        <class>ccc_reportmanager/observer</class>
                        <method>minusSoldCount</method>
                    </ccc_reportmanager>
                </observers>
            </order_cancel_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <Ccc_Reportmanager>
                    <file>ccc_reportmanager.xml</file>
                </Ccc_Reportmanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_reportmanager_admin>Ccc_Reportmanager_Adminhtml</ccc_reportmanager_admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>