.container {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h1 {
  text-align: center;
  margin-bottom: 20px;
}
.container table {
  width: 100%;
  border-collapse: collapse;
}
.container th,
.container td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.container th {
  background-color: #f2f2f2;
}
