<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Orderstock>
            <version>1.6.0.2</version>
        </Ccc_Orderstock>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <ccc_orderstock>
                    <file>ccc_orderstock.xml</file>
                </ccc_orderstock>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Orderstock>Ccc_Orderstock_Adminhtml</Ccc_Orderstock>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <resources>
            <ccc_orderstock_setup>
                <setup>
                    <module>Ccc_Orderstock</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ccc_orderstock_setup>
        </resources>
        <blocks>
            <orderstock>
                <class>Ccc_Orderstock_Block</class>
            </orderstock>
        </blocks>
        <helpers>
            <orderstock>
                <class>Ccc_Orderstock_Helper</class>
            </orderstock>
        </helpers>
        <models>
            <orderstock>
                <class>Ccc_Orderstock_Model</class>
                <resourceModel>ccc_orderstock_resource</resourceModel>
            </orderstock>
            <ccc_orderstock_resource>
                <class>Ccc_Orderstock_Model_Resource</class>
                <entities>
                    <manufacturer>
                        <table>ccc_manufacturer</table>
                    </manufacturer>
                    <brand>
                        <table>ccc_manufacturer_brand</table>
                    </brand>
                    <orderadditional>
                        <table>sales_flat_order_item_additional</table>
                    </orderadditional>
                </entities>
            </ccc_orderstock_resource>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <ccc_orderstock>
                        <class>orderstock/observer</class>
                        <method>insertInSalesFlatOrderAdditional</method>
                    </ccc_orderstock>
                    <custom_email_send_order_email>
                        <type>singleton</type>
                        <class>orderstock/observer</class>
                        <method>sendOrderEmail</method>
                    </custom_email_send_order_email>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
</config>