<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Catalog>
            <version>1.6.0.6</version>
        </Ccc_Catalog>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Ccc_Catalog before="Mage_Checkout">Ccc_Catalog</Ccc_Catalog>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <Ccc_Catalog>
                    <file>ccc_catalog.xml</file>
                </Ccc_Catalog>
            </updates>
        </layout>
    </frontend>
    <global>
        <fieldsets>
            <sales_convert_quote>
                <delivery_note>
                    <to_order>*</to_order>
                </delivery_note>
            </sales_convert_quote>
            <sales_convert_quote_address>
                <address_proof>
                    <to_order_address>*</to_order_address>
                </address_proof>
            </sales_convert_quote_address>
            <sales_convert_quote_item>
                <brand_id>
                    <to_order_item>*</to_order_item>
                </brand_id>
                <shipping_type_id>
                    <to_order_item>*</to_order_item>
                </shipping_type_id>
            </sales_convert_quote_item>
        </fieldsets>
        <models>
            <ccc_catalog>
                <class>Ccc_Catalog_Model</class>
            </ccc_catalog>
        </models>
        <blocks>
            <ccc_catalog>
                <class>Ccc_Catalog_Block</class>
            </ccc_catalog>
            <checkout>
                <rewrite>
                    <cart>Ccc_Catalog_Block_Cart</cart>
                    <cart_item_renderer>Ccc_Catalog_Block_Item_Renderer</cart_item_renderer>
                    <cart_item_renderer_configurable>Ccc_Catalog_Block_Item_Configurable</cart_item_renderer_configurable>
                    <cart_item_renderer_grouped>Ccc_Catalog_Block_Item_Grouped</cart_item_renderer_grouped>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Ccc_Catalog_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <ccc_catalog>
                        <type>singleton</type>
                        <class>ccc_catalog/observer</class>
                        <method>addCustomProductAttributes</method>
                    </ccc_catalog>
                </observers>
            </sales_quote_item_set_product>
        </events>
        <resources>
            <ccc_catalog_setup>
                <setup>
                    <module>Ccc_Catalog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ccc_catalog_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ccc_catalog>
                    <file>ccc_catalog.xml</file>
                </ccc_catalog>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Catalog before="Mage_Adminhtml">Ccc_Catalog_Adminhtml</Ccc_Catalog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>