<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Catalog>
            <version>1.6.0.4</version>
        </Ccc_Catalog>
    </modules>
    <frontend>
        <layout>
            <updates>
                <Ccc_Catalog>
                    <file>ccc_catalog.xml</file>
                </Ccc_Catalog>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <ccc_catalog>
                <class>Ccc_Catalog_Model</class>
            </ccc_catalog>
        </models>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <ccc_catalog>
                        <type>singleton</type>
                        <class>ccc_catalog/observer</class>
                        <method>addCustomProductAttributes</method>
                    </ccc_catalog>
                </observers>
            </sales_quote_item_set_product>
        </events>
        <resources>
            <ccc_catalog_setup>
                <setup>
                    <module>Ccc_Catalog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ccc_catalog_setup>
        </resources>
    </global>
</config>