<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Ftp>
            <version>1.6.0.1</version>
        </Ccc_Ftp>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <ccc_ftp>
                    <file>ccc_ftp.xml</file>
                </ccc_ftp>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <ccc_ftp>
                <class>Ccc_Ftp_Block</class>
            </ccc_ftp>
        </blocks>
        <helpers>
            <ccc_ftp>
                <class>Ccc_Ftp_Helper</class>
            </ccc_ftp>
        </helpers>
        <models>
            <ccc_ftp>
                <class>Ccc_Ftp_Model</class>
                <resourceModel>ccc_ftp_resource</resourceModel>
            </ccc_ftp>
            <ccc_ftp_resource>
                <class>Ccc_Ftp_Model_Resource</class>
                <entities>
                    <configuration>
                        <table>ccc_ftp_configuration</table>
                    </configuration>
                    <files>
                        <table>ccc_ftp_files</table>
                    </files>
                    <newpart>
                        <table>ccc_xml_new_part</table>
                    </newpart>
                    <discontinuepart>
                        <table>ccc_xml_discontinue_part</table>
                    </discontinuepart>
                    <master>
                        <table>ccc_xml_master</table>
                    </master>
                </entities>
            </ccc_ftp_resource>
        </models>
        <resources>
            <ccc_ftp_setup>
                <setup>
                    <module>Ccc_Ftp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ccc_ftp_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_ftp_admin>Ccc_Ftp_Adminhtml</ccc_ftp_admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <transfer_ftp_files>
                <schedule>
                    <cron_expr>0 7 * * *</cron_expr>
                </schedule>
                <run>
                    <model>ccc_ftp/observer::transferFile</model>
                </run>
            </transfer_ftp_files>
            <store_part_number>
                <schedule>
                    <cron_expr>0 7 * * *</cron_expr>
                </schedule>
                <run>
                    <model>ccc_ftp/observer::storeParts</model>
                </run>
            </store_part_number>
        </jobs>
    </crontab>
</config>