<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Template>
            <version>1.6.0.0</version>
        </Ccc_Template>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <ccc_template>
                    <file>ccc_template.xml</file>
                </ccc_template>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <ccc_template>
                <class>Ccc_Template_Block</class>
            </ccc_template>
        </blocks>
        <helpers>
            <ccc_template>
                <class>Ccc_Template_Helper</class>
            </ccc_template>
        </helpers>
        <models>
            <ccc_template>
                <class>Ccc_Template_Model</class>
                <resourceModel>ccc_template_resource</resourceModel>
            </ccc_template>
            <ccc_template_resource>
                <class>Ccc_Template_Model_Resource</class>
                <entities>
                    <exception_template>
                        <table>exception_template</table>
                    </exception_template>
                </entities>
            </ccc_template_resource>
        </models>
        <resources>
            <ccc_template_setup>
                <setup>
                    <module>Ccc_Template</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ccc_template_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_template_admin>Ccc_Template_Adminhtml</ccc_template_admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>